<md-tab-group>

    <md-tab>
        <template 
            md-tab-label>
            List
        </template>
        <template 
            md-tab-content>

            <md-list style="margin-top:20px;">
                <h3 md-subheader>Folders</h3>
                <md-list-item>
                    <md-icon md-list-avatar>folder</md-icon>
                    <h4 md-line>Documents</h4>
                    <!--p md-line class="demo-2"> {{folder.updated}} </p-->
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-avatar>folder</md-icon>
                    <h4 md-line>Pictures</h4>
                    <!--p md-line class="demo-2"> {{folder.updated}} </p-->
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-avatar>insert_drive_file</md-icon>
                    <h4 md-line>README.txt</h4>
                    <!--p md-line class="demo-2"> {{folder.updated}} </p-->
                </md-list-item>
            </md-list>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Menu
        </template>
        <template 
            md-tab-content>
        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Progress
        </template>
        <template 
            md-tab-content>
        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Count
        </template>
        <template 
            md-tab-content>
            <count
                [name]="countName"
                (changed)="onCountChanged($event)">
            </count>
        </template>
    </md-tab>


</md-tab-group>
