<md-tab-group>

    <md-tab>
        <template 
            md-tab-label>
            Tab A
        </template>
        <template 
            md-tab-content>

            <div style="margin-top:20px; width:400px;">
                <md-card>
                    Nothing here...
                </md-card>
            </div>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Tab B
        </template>
        <template 
            md-tab-content>

            <div style="margin-top:20px; width:400px;">
                <md-card>
                    Nor here...
                </md-card>
            </div>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Count!
        </template>
        <template 
            md-tab-content>
            
            <div style="margin-top:20px; width:400px;">
                <count
                    [initialCount]="initialCount"
                    (changed)="onCountChanged($event)">
                </count>
            </div>

        </template>
    </md-tab>


</md-tab-group>
