<md-tab-group>

    <md-tab>
        <template 
            md-tab-label>
            Tab A
        </template>
        <template 
            md-tab-content>

            <md-card>
                Nothing here...
            </md-card>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Tab B
        </template>
        <template 
            md-tab-content>

            <md-card>
                Nothing here...
            </md-card>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Tab C
        </template>
        <template 
            md-tab-content>

            <md-card>
                Nor here...
            </md-card>

        </template>
    </md-tab>

    <md-tab>
        <template 
            md-tab-label>
            Count!
        </template>
        <template 
            md-tab-content>
            
            <count
                [initialCount]="initialCount"
                (changed)="onCountChanged($event)">
            </count>

        </template>
    </md-tab>


</md-tab-group>
